
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib//bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Update</title>
</head>
<body>
    <header class="p-2">
        <a class="btn btn-danger" href="/Student/getAll">All Data</a>
        <a class="btn btn-warning" href="/Student/Create">Create</a>
        <a class="btn btn-info" href="/Student/Update">Update</a>
        <a class="btn btn-dark" href="/Student/Delete">Delete</a>
    </header>
    <main>
        <br />
        <br />
        <h1>Update ...</h1>
        <br />
        <br />
    </main>
    <footer>
        <p>This is footer</p>
    </footer>
</body>
</html>
